.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--text-font-weight);
  background-image: repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  block-size: var(--header-height);
  inline-size: var(--box-width);
  margin-block-start: 100px;
  margin-block-end: 100px;
  outline: solid 2px #000;
  outline-offset: -1px;
  background-color: white;
}
.header_title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  text-transform: uppercase;
}
.header_subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article {
  background-color: #fff;
  block-size: 758px;
  outline: solid 2px #000;
  background-color: white;
  block-size: min-content;
  inline-size: var(--box-width);
  margin-bottom: 52px;
  outline-offset: -1px;
  padding-top: 5px;
}

.article_image {
  inline-size: calc(100% - 2px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  transform: scale(105%);
  position: relative;
  z-index: -1;
  
}

.article_image-box {
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  outline: solid 2px #000;
  outline-offset: -1px;
  z-index: 1;
}

.article_image_01-01 {
  filter: grayscale(100%) brightness(0.9);
}

.article_image_01-02 {
  filter: blur(5px);
  transform: scale(105%);
}

.article_image_02-01 {
  filter: saturate(30%);
}

.article_image_02-02 {
  filter: hue-rotate(90deg);
}

.article_image_03-01 {
  filter: grayscale(100%);
}

.article_image_03-02 {
  filter: invert(80%);
}

.article_image_now {
  filter: sepia(200%) brightness(0.8);
}

.lable {
  position: absolute;
  top: 29px;
  right: 27px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  z-index: 2;
  mix-blend-mode: hard-light;
  color: #000;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .lable {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}
.article_title {
  margin: 4px 12px;
  font-family: inherit;
  font-size: 18px;
  line-height: 120%;
  font-variation-settings: "wght" var(--title-font-weigh, 715);
  display: inline-block;
}

.article_text {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 410;
  margin: 25px 29px 23px 25px;
}
.article_interactive {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.button {
  border: none;
  background-color: #fff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  background-color: #000;
  position: absolute;
  inset: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus-visible {
  box-shadow: 4px 4px 0px #000;
}

.contour {
  transition: fill 0.1s linear;
}
.main-body {
  transition: fill 0.3s linear;
}
.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}
.card__icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: solid 2px #000;
  outline-offset: -1px;
}
.card__icon-button:hover .core {
  transition-delay: 0s;
}
.card__icon-button:hover .main-body {
  transition-delay: 0.05s;
}
.card__icon-button:hover {
  --heart-contour: #000;
  --animation-fill-color: #000;
  --animation-core-color: #000;
}
.card__icon-button:active {
  --heart-contour: #000;
  --animation-fill-color: #ff0000;
  --animation-core-color: #ff0000;
}
.card__icon-button:active .core {
  transition-delay: 0s;
}
.card__icon-button:active .main-body {
  transition-delay: 0.05s;
}
.card__icon-button:has(.is-liked) {
  --heart-contour: #ff0000;
  --animation-fill-color: #ff0000;
  --animation-core-color: #ff0000;
}
.card__icon-button:has(.is-liked) .core {
  transition-delay: 0s;
}
.card__icon-button:has(.is-liked) .main-body {
  transition-delay: 0.05s;
}
.card__icon-button:has(.is-liked) .contour {
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.heart {
  transform-origin: center;
}

.card__icon-button:has(.is-liked) {
  animation: is-liked 0.3s 0.1s ease-in;
}

.card__icon-button:has(.is-liked) .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.card__like-button {
  outline: solid 2px #000;
  outline-offset: -1px;
  inline-size: 130px;
  block-size: 38px;
  background-color: #fff;
  text-transform: uppercase;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.button-save {
  inline-size: 306px;
  block-size: 84px;
  outline: solid 2px #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-save-svg {
  inline-size: 21px;
  aspect-ratio: 1 / 1;
}
.dialog-save {
  inline-size: 341px;
  block-size: min-content;
  padding: 30px 38px;
  margin: auto;
}
.dialog-info {
  display: flex;
  gap: 20px;
  align-items: center;
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
.dialog-save-svg {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}
.dialog__text {
  text-transform: uppercase;
  font-family: var(--accent-font);
  line-height: 150%;
  font-weight: 400;
  font-size: 14px;
}

.button-save-close {
  inline-size: 261px;
  block-size: 38px;
  outline: solid 2px #000;
  background-color: #fff;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.button-save {
  margin-block-end: 100px;
}

.save-svg {
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

@media (width >= 1400px) {
  .button-save {
    flex-direction: row;
    inline-size: 335px;
    block-size: 55px;
  }
}
